*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns:repeat(3,2fr);
    grid-gap: 10px;
}

.column-container{
    border: 1px solid black;
   padding:10px
}
.column-container h1{
    text-align: center;
    background-color: black;
    color: white;
}
.column-container button{
    margin:0 auto;
    display: block;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-top:10px;
}